@import "../../../scss/themes/blurred/variables";

.container {
  padding-bottom: 1rem;
}

.header {
  margin: 1rem;
}

.postForm {

  @include bgTranslucentDark(0.2);

  margin: 1rem;

  .buttons {
    padding: 0.5em;
  }

} // .postForm

ul.posts {
  margin: 1rem 0rem;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;

    .media {
      background-color: rgba($color1, 0.5);
      transition: background-color .2s ease;
      &:hover {
        background-color: rgba($color1, 0.8);
      }
    }

    .votes {

      .count {
        font-weight: 300;
        font-size: 3.0em;
        margin: 1.5rem 0 2.0rem 0;
      }

      .thumb {
        cursor: pointer;
        font-size: 2.0rem;

        &:hover {
          color: $headerTextColor;
        }

      }

      &.voted {
        .thumb {
          color: $successColor;

          &:hover {
            color: lighten($successColor, 10%);
          }
        }
      }

    } // .votes

    .voters {
      margin: 0 1em;
      img {
        margin: 0 0.4em;
        width: 32px;
        height: 32px;
        border-radius: $avatarRadius;
      }
    }

    .media-content {
      overflow-x: auto;

      h3 {
        margin: 0 0 0.5em 0;
      }

    }
  }
}


/* Transition styles */
/*
.post-transition {
  transition: opacity .5s ease;
}

.post-enter {
  opacity: 0;
}

.post-leave {
  opacity: 0;
  position: absolute !important;
}
*/
.post-move {
  transition: transform .5s cubic-bezier(.55,0,.1,1);
}

.avatar{
  width: 60px;
  height: 60px;
  padding: 1rem;
}


