@import "../../../scss/themes/blurred/variables";

  .container {
    padding: 0 1rem;
  }
  .btn-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    > h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      padding: 8px 10px;

      background-color: rgba(darken($backgroundColor, 10%), 0.6);
      border: 1px solid darken($backgroundColor, 8%);
      border-radius: 8px;

      .number {
        color: #888;
      }

      .text {
        margin-left: 4px;
        font-weight: $fontLight;
        text-transform: uppercase;
      }

      clear: both;

    } // .title

  } //. section

  .btns {
    margin-bottom: 20px;
  }

  .list {
    > * {
      margin-bottom: 20px;
    }
  }

  .panels {
    align-items: flex-start;
    .panel, .card {
      margin: 20px;
    }

    .card {
      max-width: 350px;
    }
  }